# General
.DS_Store
Thumbs.db
*.log

# Editor / IDE
.vscode/
.idea/

# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Docker
**/*~

# CI artifacts
coverage/
dist/
build/